<div class="max-w-screen-xl mx-auto p-5 sm:p-10 md:p-16">
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8">
      <div 
        *ngFor="let meal of meals" 
        class="cursor-pointer rounded-lg shadow-md overflow-hidden hover:shadow-xl transition"
        (click)="goToMealDetail(meal.idMeal)"
      >
        <img [src]="meal.strMealThumb" [alt]="meal.strMeal" class="w-full h-48 object-cover" />
        <div class="p-4">
          <h2 class="text-lg font-semibold text-gray-800">{{ meal.strMeal }}</h2>
        </div>
      </div>
    </div>
  </div>
  